<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Edit Appointment</title>
    <script>
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
    function editAppointment() {
        let appointmentId = <%=id%>;
        let userID=<%= userId%>;
        let appointment = document.getElementById("appointment").value;
        fetch(`/appointment/${appointmentId}/${userID}/edit`, {
            method: "put",
            headers: {"Content-Type":"application/json"},
            body: JSON.stringify({
                "_csrf":token,
                "appointment":appointment,
            })
        }).then((res)=>{
            if (res.ok) {
                window.location.replace(`/tasks`);
            }
        }).catch((err)=> console.error(err))
    }
</script>
</head>
<body>
    <div class="relative bg-gray-200 px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
        <div class="mx-auto max-w-md">
            <h2 class="text-2xl  text-center font-bold my-5">Edit Appointment Title
                
            </h2>
           
            <div class="divide-y  divide-gray-300/50">
                <div class="space-y-6 text-base leading-7 text-ray-600">
                    
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <label for="appointment" class="text-md w-40 inline-block font-medium leading-5 text-gray-700">
                           Enter New Title
                        </label>
                        <input required type="text" id="appointment" name="appointment" value="<%=appointmentName%>" class="bg-gray-100 inline-block rounded-lg shadow-md py-3 px-4 mb-5 text-base leading-6 placeolder-gray-500" placeholder="Enter Appointment" required><br/>
        
                        <button type="submit" id="submit" onclick="editAppointment()" class="w-fit rounded-lg shadow-lg px-5 py-3 bg-green-500 text-white hover:bg-green-400 focus:outline-none focus block">Add Appointment</button>
                        
                   

                </div>
                
            </div>
        </div>
    </div>
</body>
</html>